*/target/*
target/*
*.xes
*.class
*.log
*/.idea/*
.idea/*
pythonTesting/env/*
*.withTimestamp

logfiles/*
logfilesPre/*
.environment

project/*
!project/assembly.sbt
!project/build.properties
!experiments/input/test_small.withTimestamp

#cassandra
dockerbase/cassandra/data/*

#allow specific test datasets
!experiments/input/test1.withTimestamp
!experiments/input/test2.withTimestamp
!experiments/input/test.withTimestamp

dockerbase/spark-3.0.0-bin-hadoop3.2/*

#python
python_scripts/.ipynb_checkpoints/*
pythonAPI/test_main.http
pythonAPI/files
pythonAPI/.idea
pythonAPI/venv
.bsp
*.db
*/env
*/__pycache__/*