target/*
*.xes
*.class
*.log
.idea/*
pythonTesting/env/*
*.withTimestamp

logfiles/*
logfilesPre/*
.environment

project/*
!project/assembly.sbt
!project/build.properties
!experiments/input/test_small.withTimestamp

#cassandra
dockerbase/cassandra/data/*