version: '3.7'
services:
  preprocess:
    image: mavroudo/siesta-preprocess:2
    ports:
      - "8000:8000"
      - "4040:4040"
    networks:
      - siesta-net
    volumes:
      - preprocesses:/app/pythonAPI/dbSQL
    environment:
      #for cassandra
      cassandra_host: cassandra
      cassandra_port: 9042
      cassandra_user: cassandra
      cassandra_pass: cassandra
      cassandra_keyspace_name: siesta
      cassandra_replication_class: SimpleStrategy
      cassandra_replication_rack: replication_factor
      cassandra_replication_factor: 3
      cassandra_write_consistency_level: ONE
      cassandra_gc_grace_seconds: 864000
      # for s3 (minio)
      s3accessKeyAws: minioadmin
      s3ConnectionTimeout: 600000
      s3endPointLoc: http://minio:9000
      s3secretKeyAws: minioadmin

  query:
    image: mavroudo/siesta-query:2
    environment:
      master.uri: local[4] # or local[*]
      database: s3 # cassandra-rdd or s3
      #for s3 (minio)
      s3.endpoint: http://minio:9000
      s3.user: minioadmin
      s3.key: minioadmin
      s3.timetout: 600000
      #for cassandra
      cassandra.max_requests_per_local_connection: 32768
      cassandra.max_requests_per_remote_connection: 22000
      cassandra.connections_per_host: 1000
      cassandra.max_queue_size: 1024
      cassandra.connection_timeout: 30000
      cassandra.read_timeout: 30000
      spring.data.cassandra.contact-points: cassandra
      spring.data.cassandra.port: 9042
      spring.data.cassandra.user: cassandra
      spring.data.cassandra.password: cassandra
      server.port: 8090 # port of the application
    volumes:
      - ./build:/root/.m2
    ports:
      - '8090:8090'
    networks:
      - siesta-net

  ui:
    image: mavroudo/siesta-ui:2
    ports:
      - "80:80"
      # if you want to modify the base url (for setting it to a server, add and modify the config.json file 
#    volumes:
#      - ./config.json:/usr/share/nginx/html/config.json


  minio:
    container_name: minio
    image: minio/minio:RELEASE.2023-11-01T01-57-10Z
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server --console-address ":9001" /data
    networks:
      - siesta-net

  createbuckets: #automatically creates the required bucket
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/siesta;
      /usr/bin/mc policy download myminio/siesta;
      exit 0;
      "
    networks:
      - siesta-net


networks:
  siesta-net:
    name: siesta-net
    external: true

volumes:
  minio_storage: {}
  preprocesses: {}
