version: '3.7'
services:
  cassandra:
    image: 'cassandra:4.0'
    container_name: fa_cassandra
    ports:
      - '7000:7000'
      - '9042:9042'
    volumes:
      - './cassandra/data:/var/lib/cassandra'
    env_file:
      - .env
    networks:
      - net

networks:
  net:
